section.articles
	ul.articles__list
		li.articles__item
			article.article
				h3.article__title Lorem
				.article__data XX июня 2018
				.article__content
					.article__text
						p Lorem
						p Lorem
	