.contacts
	.contacts__title
		h3.subtitle Контакты
	.contacts__content
		ul.contacts__list
			- var contItems = [['skype', '', 'skype:'], ['envelope', 'irene.ivanovais@gmail.ru', 'mailto:irene.ivanovais@gmail.ru'], ['phone', '+7 911 270 83 00', 'tel:+79112708300'], ['map_marker', 'г.Санкт-Петербург']]
				each contItem in contItems
					li.contacts__item
						.contacts__icon
							+icon (`${contItem[0]}`, 'contacts__icon-svg')
						a.contacts__contact(href=`${contItem[2]}`)
							.contacts__contact-text #{contItem[1]}